
:root {
    
    --light-green:#c2ff01;
    --black-text: #000000;
    
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 15px;

}

hmtl, body{
    
    width: auto;
    
    height: 11609px;
  
}

p{
    font-family: 'Fira Sans';
}



